.history-page {
  min-height: 100vh;
  padding: 70px 20px 40px;
  background-image: url('https://images.unsplash.com/photo-1625246333195-78d9c38ad449?q=80&w=2070');
  background-size: cover;
}
.history-title {
  text-align: center;
  color: #0f2e0f;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 100px;

}
.history-card {
  max-width: 1800px;
  height: 550px;
 
  margin: 0 auto;
  background: rgba(237, 234, 229, 0.659);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
 
}
.history-table {
  width: 100%;
  height: 450px;
  border-collapse: collapse;
  background: white;
}
.history-table th {
  background: #22c55e;
  color: white;
  padding: 10px;
  border: 1px solid #16a34a;
  font-size: 40px 40pz;
  
}
.history-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #a3a3a3;
}